@import "tailwindcss";

body {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@keyframes ring {
  0% { transform: rotate(0); }
  10% { transform: rotate(15deg); }
  20% { transform: rotate(-10deg); }
  30% { transform: rotate(5deg); }
  40% { transform: rotate(-5deg); }
  50% { transform: rotate(0); }
  100% { transform: rotate(0); }
}

.animate-ring {
  animation: ring 2s ease-in-out infinite;
  transform-origin: top center;
}
